node_modules
.DS_Store
dist
.npmrc
.cache

backend-project/node_modules
backend-project/dist
backend-project/build
frontend-project/node_modules
frontend-project/dist
frontend-project/build

.local
# local env files
.env.local
.env.*.local
.eslintcache

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
#.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
