
<div class="bottom-home">
    <div class="bottom_header">
        <p class="bottom-title">
            精选专题<i>热</i>
        </p>
    </div>
   <!--
   这样的样式处理会使图片拉伸，一般对于图片的处理最好是用div包裹对上层的div处理让img宽高百分之百

   .bottom-content {
    position: relative;
    width: 100%;
    }
    .bottom-content div {
    position: relative;
    float: left;
    width: 50%;
    height: 60.6%;
    margin-bottom: 16px;
    padding: 0 3px;
    box-sizing: border-box;
    }
    .bottom-content img{
    width: 100%;
    height: 100%;
    }
    .channel-h5-footer{
    display: block;
    padding: 14px 0;
    font: 13px/1.3em a;
    border-top: 1px solid #f0f0f0;
    text-align: center;
    }
    <div class="bottom-content">
        <div class="bottom-content-left"><img src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01YyXpTGf6V/u42YEVXqQY0L34.jpg"></div>
        <div class="bottom-content-right"><img src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01YyXpTGf6V/u42YEVXqQY0L34.jpg"></div>
    </div>-->

    <!--这样处理相比较上面处理而言就是运用了div包裹的方法-->
    <ul class="banner-h5-list">
        <li>
            <div class="banner-h5-cover">
                <img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01tBqnupVze/qayTXiXrMm1lVm.jpg" />
            </div>
        </li>
        <li>
            <div class="banner-h5-cover">
                <img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01tBqnupVze/qayTXiXrMm1lVm.jpg" />
            </div>
        </li>
    </ul>

    <div class="channel-h5-footer">
        <a class="btn-h5-more" href="/javascript:">更多精选专题&nbsp;&gt;&gt;</a>
    </div>

</div>