<div class="recommend-home">
    <div class="recommend_header">
        <p class="recommend-title">
            本周最火<i>推</i>
        </p>
    </div>
    <ul class="recommend-list">
        <li v-for="item in hot" v-if="$index>0 && $index<= 4">
            <div class="book">
                <div class="book-cover">
                    <img alt= "{{item.title}}" v-bind:src="item.cover">
                    <span class="book-status" v-if="item.finish?status='完结':status='连载中'">{{status}}</span>
                </div>
                <div class="book-info">
                    <p class="book-title">{{item.title}}</p>
                    <p class="book-author">{{item.authors}}</p>
                    <p class="book-summary">{{item.summary}}</p>
                    <div class="book-tag-wrap">
                        <div class="book-tag" v-for="tag in item.tags" v-if="$index>0 && $index<= 6">{{tag}}</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>