
<div class="top-home">
    <!--实际效果是单击搜索页面跳转，所以这里用a标签处理-->
    <a href="/search">
        <div class="top-home-search">请输入作者/书名/关键字</div>
    </a>

    <div class="slider-banner">
        <div>
            <a href="http://dushu.xiaomi.com/#page=topic&type=fiction&id=11439&_t=index.0.sld.0&&from=main">
                <img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01qDSHWUGqf/DoSt6VIaNe0oC2.jpg">
            </a>
        </div>
    </div>
    <ul class="top-home-btns">
        <li>
            <a href="/category">
                <img class="top-home-icon" src="http://image.read.duokan.com/mfsv2/download/s010/p015iBxwdkmU/5wc5uzYhLZ7iVa.png">
                <span class="top-home-desc">分类</span>
            </a>
        </li>
        <li>
            <a href="/male">
                <img class="top-home-icon" src="http://image.read.duokan.com/mfsv2/download/s010/p01lq7mbkaEJ/OGlv1em8buXDgB.png">
                <span class="top-home-desc">男生</span>
            </a>
        </li>
        <li>
            <a href="/female">
                <img class="top-home-icon" src="http://image.read.duokan.com/mfsv2/download/s010/p01LWZmXGCpy/aSrSq6Llgt9PqE.png">
                <span class="top-home-desc">女生</span>
            </a>
        </li>
        <li>
            <a href="/rank">
                <img class="top-home-icon" src="http://image.read.duokan.com/mfsv2/download/s010/p01pz5NtyRI0/2ENONnvOg23NXM.png">
                <span class="top-home-desc">排行</span>
            </a>
        </li>
    </ul>
</div>