<style type="text/css">
    .channel-free {
        position: relative;
        background: #fff;
        border-bottom: 10px solid #f0f0f0;
    }
    .channel-free-header {
        position: relative;
        padding: 10px 14px;
        border-bottom: 1px solid #f0f0f0;
        border-left: 5px solid orange;
    }
    .channel-free-title {
        font-size: 16px;
        font-weight: normal;
        color: #333;
    }
    .book-table {
        padding: 10px;
    }
    .book-table li {
        display: inline-block;
        width: 25%;
        vertical-align: top;
        line-height: 1px;
        margin-bottom: 8px;
    }
    .f-book {
        position: relative;
        width: 86px;
        overflow: hidden;
    }
    .f-book-cover {
        position: relative;
        width: 86px;
        height: 113px;
        background-color: #eeece9;
        box-shadow: 0 6px 5px -3px #aaa;
        border: 1px solid #f0f0f0;
        overflow: hidden;
        border-bottom: none;
    }
    .f-book-cover img{
        width: 100%;
        height: 100%;
    }
    .f-book-info {
        padding-top: 8px;
    }
    .title {
        font-size: 13px;
        line-height: 1.4em;
        max-height: 2.8em;
        overflow: hidden;
        color: #8d8d8d;
        margin-bottom: 0;
        font-weight: 400;
    }
    .t-tags {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 1.4;
        background-color: #ef6c2c;
        color: #fff;
        width: 100%;
        font-size: 1.4rem;
        text-align: center;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: translateX(30%) rotate(45deg) translateY(10%) scale(.8);
        /*position: absolute;
        top: 0;
        left: 0;
        line-height: 1.4;
        background-color: #ef6c2c;
        color: #fff;
        width: 100%;
        -webkit-transform-origin: top center;
        -webkit-transform: translateX(50%) rotate(45deg) translateY(50%) scale(0.8);
        font-size: 1.4rem;
        text-align: center;*/

    }
    .fiction-tag {
        background: #49ab3f;
    }
    .fiction-tag:before {
        content: '\9650\514d';

    }
    .channel-free-footer {
        display: block;
        border: 1px solid #f0f0f0;
        font-size: 14px;
        text-align: center;
        padding: 19px 0;
    }

</style>
<div class="channel-free">
    <div class="channel-free-header">
        <h2 class="channel-free-title">限时免费</h2>
    </div>
    <ul class="book-table">
        <li>
            <div class="f-book">
                <div class="f-book-cover"><img src="http://cover.read.duokan.com/mfsv2/download/s010/p0184vWKigXj/7BMmxK5GwioQyT.jpg!s">
                    <div class="t-tags fiction-tag"></div>
                </div>
                <div class="f-book-info">
                    <h3 class="title">书籍名称</h3>
                </div>
            </div>
        </li><li>
            <div class="f-book">
                <div class="f-book-cover"><img src="http://cover.read.duokan.com/mfsv2/download/s010/p0184vWKigXj/7BMmxK5GwioQyT.jpg!s">
                    <div class="t-tags fiction-tag"></div>
                </div>
                <div class="f-book-info">
                    <h3 class="title">书籍名称</h3>
                </div>
            </div>
        </li><li>
        <div class="f-book">
            <div class="f-book-cover"><img src="http://cover.read.duokan.com/mfsv2/download/s010/p0184vWKigXj/7BMmxK5GwioQyT.jpg!s">
                <div class="t-tags fiction-tag"></div>
            </div>
            <div class="f-book-info">
                <h3 class="title">书籍名称</h3>
            </div>
        </div>
    </li><li>
        <div class="f-book">
            <div class="f-book-cover"><img src="http://cover.read.duokan.com/mfsv2/download/s010/p0184vWKigXj/7BMmxK5GwioQyT.jpg!s">
                <div class="t-tags fiction-tag"></div>
            </div>
            <div class="f-book-info">
                <h3 class="title">书籍名称</h3>
            </div>
        </div>
    </li>
    </ul>
    <a href="/free" class="channel-free-footer">更多免费佳作&nbsp;&gt;&gt;</a>
</div>