
<div class="recommend-home">
    <div class="recommend_header">
        <p class="recommend-title">
            男生最爱
        </p>
    </div>

    <div><ul class="recommend-list">
        <li>
            <div class="book">
                <div class="book-cover">
                    <img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p019cVMgf8cJ/EvRIojtcwlkFoa.jpg!s">
                    <span class="book-status">连载中</span>
                </div>
                <div class="book-info">
                    <p class="book-title">书名</p>
                    <p class="book-author">作者</p>
                    <p class="book-summary">简介</p>
                    <div class="book-tag-wrap">
                        <div class="book-tag">标签1</div>
                        <div class="book-tag">标签2</div>
                        <div class="book-tag">标签3</div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="book">
                <div class="book-cover">
                    <img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p019cVMgf8cJ/EvRIojtcwlkFoa.jpg!s">
                    <span class="book-status">连载中</span>
                </div>
                <div class="book-info">
                    <p class="book-title">书名</p>
                    <p class="book-author">作者</p>
                    <p class="book-summary">简介</p>
                    <div class="book-tag-wrap">
                        <div class="book-tag">标签1</div>
                        <div class="book-tag">标签2</div>
                        <div class="book-tag">标签3</div>
                    </div>
                </div>
            </div>
        </li>

    </ul></div>
    <div class="recommend-footer">
        <a href="javascript:">换一换</a>
        <a href="/male">男生频道</a>
    </div>
</div>